name: Release fsoc binaries

on:
  push:
    tags: ["v*"]

jobs:
  release:
    name: Release
    runs-on: ubuntu-20.04

    permissions:
      id-token: write
      packages: write
      contents: write

    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Setup Go
        uses: actions/setup-go@v3
        with:
          go-version: '1.19'
          check-latest: true

      - name: Install tools
        run: make install-tools

      - name: Set version environment variables
        run: make print-version-info >> $GITHUB_ENV

      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v3
        with:
          version: latest
          args: release --clean --timeout 5m
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          TAP_GITHUB_TOKEN: ${{ secrets.PUBLISHER_CLASSIC_TOKEN }}
          GIT_BRANCH: ${{ github.ref_name }}
          BUILD_IS_DEV: 'false'
